{%extends 'base.html' %}

{% block title %} All Users List {% endblock %}

{% block content %}

<h1>{{tag.name}}</h1>
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item"><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

   <form>
   <button class="btn btn-primary" formaction="/tags/{{tag.id}}/edit" formmethod="GET">Edit</button>
   <button class="btn btn-danger" formaction="/tags/{{tag.id}}/delete" formmethod="POST">Delete</button>
   </form>

   {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
   {% endfor %}

{% endblock %}