{%extends 'base.html' %}

{% block title %} All Users List {% endblock %}

{% block content %}
<div class="container">
<div class="row">

   <div class="col-sm-2 col-6">
      <img src="{{user.image_url}}" class="img-fluid" alt="">
   </div>

   <div class=" col-sm-10 col-12">
      <h1>{{user.first_name}} {{user.last_name}} Profile</h1>

      <div>
         <form>
            <button class="btn btn-outline-primary" formaction="/users/{{user.id}}/edit" formmethod="GET"> edit</button>
            <button class="btn btn-outline-danger" formaction="/users/{{user.id}}/delete"
               formmethod="POST">Delete</button>
         </form>
      </div>
   


      <h3>Posts</h3>
      <div>
         <ul>
            {%for post in posts %}
            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {%endfor %}
         </ul>
         <form>
            <button class="btn btn-outline-primary" formaction="/users/{{user.id}}/posts/new">Add Post</button>
         </form>
      </div>
   </div>
   </div>
</div>

{% endblock %}